---
---

body {
  margin: 0% 5%;
  padding: 60px 0px;
}

article {
  p {
    font-size: 16px;
  }

  blockquote {
    margin-left: 10px;

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 640px) {
  .navbar-text {
    display: none;
    overflow: hidden;
  }
}

@media (min-width: 1280px) {
  body {
    margin: 0% 15%;
  }
}

@import "syntax-highlighting";