---
layout: default
title: Home
---

{% for post in site.posts %}
  <article class="home-entry">
    <header class="page-header">
        <h1>
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          <small>{{ post.date | date: "%b %-d, %Y" }}</small>
        </h1>
    </header>

    <p class="post-content">
      {{ post.content | split:"<!-- more -->" | first }}

      {% if post.content contains "<!-- more -->" %}
        <a class="btn btn-primary" href="{{ post.url }}" role="button">Read More of Post</a>
      {% endif %}

    </p>

  </article>
{% endfor %}
