<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ " /res/bootstrap/css/bootstrap.min.css " | prepend: site.baseurl }}">

  <!-- Optional theme -->
  <link rel="stylesheet" href="{{ " /res/bootstrap/css/bootstrap-theme.min.css " | prepend: site.baseurl }}">

  <!-- Custom stylesheet modifying Bootstrap -->
  <link rel="stylesheet" href="{{ " /css/style.css " | prepend: site.baseurl }}">

  <!-- Minified JQuery Library -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- Minified Bootstrap JS Library -->
  <script src="{{ " /res/bootstrap/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
</head>
