<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site.url }}/{{ site.baseurl }}">{{ site.title }}</a>
      <p class="navbar-text">{{ site.description }}</p>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if site.dropdown_links.size > 0 %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ site.dropdown_title }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for link in site.dropdown_links %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% endif %}

      {% if site.pages.size > 0 %}
      <ul class="nav navbar-nav navbar-right">
        {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
