<!DOCTYPE HTML>
<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  <div id="post">
    <article class="post-entry">
        <header class="page-header">
          <h1>{{ page.title }}
            <small>{{ page.date | date: "%b %-d, %Y" }}</small>
          </h1>
        </header>

      <p>{{ content }}</p>
    </article>
  </div>

  {% include disqus.html %}

</body>

</html>
